{% extends "base.html" %}

{% block content %}





<div class="container-fluid middle-section-image" src="static/images/aboutus-women.png" style=" background-image: url('static/images/aboutus-women.png'); background-position: 50% 50%;">
<div class="row">
<div class="column-middle">
<h2>About Us</h2>
<p>I am Sarah Jones, a working from home mom who inherit her mother's recipes.<br>
The recipe book was past down from generation and I want to release it to other mothers<br>

Since sharing is caring, you can do your part and share some of your families recipe on this website </p>
</div>
</div>
</div>
  


{% endblock %}