{% extends "base.html" %}

{% block content %}


<div class="container-fluid middle-section-image" src="static/images/meat-pork.png" style=" background-image: url('static/images/meat-pork.png');"><! –– ––>
<div class="row">
<div class="column-middle">
<h2>Stunning and delicious main course recipes</h2>
<p>The main course recipes are packed with healthy and meaty ingredients<br>
From Italian cuisine to hearty indian meals full of flavor, we got it all on the website<br>

If you think you have some great recipes to share to our users, feel free to add them when you sign up </p>
<br><br>
<button style="height:60px; width:110px; background-color:blue;" ><a href="{{ url_for('register') }}" style="font-size:18px; color:white;">Sign up</a></button>
</div>
</div>
</div>


  
 
{% endblock %}