{% extends "base.html" %}

{% block content %}


<div class="container-fluid middle-section-image" src="static/images/salad.png" style=" background-image: url('static/images/salad.png');"><! –– ––>
<div class="row">
<div class="column-middle">
<h2>Light and healthy starters</h2>
<p>Our starters that our users(mama's) uploaded are perfect way to get you ready for the main course<br>
They are light, delicious and of course filled with healthy ingredients.<br>

Have you are stunning stater you would like to share with us, then sign up and let us mama's know </p>
<br><br>
<button style="height:60px; width:110px; background-color:blue;" ><a href="{{ url_for('register') }}" style="font-size:18px; color:white;">Sign up</a></button>
</div>
</div>
</div>


  
 
{% endblock %}